.sidebar{
    height: 100vh;
    width: 200px;
    box-shadow: -2px 0 5px 0 #555;

    img {
        width: 90%;
        margin: 0 10px;
    }

    .divider {
        height: 1px;
        margin: 0 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .nav-container {
        margin-top: 20px;
        
        .nav-item{
            padding-left: 10px;
        }

        .nav-item > div{
            padding: 10px;
        }

        .nav-item:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
}